@CHARSET "ISO-8859-1";
.login_btn {
  background: #1f4f14;
  background-image: -webkit-linear-gradient(top, #1f4f14, #0d5921);
  background-image: -moz-linear-gradient(top, #1f4f14, #0d5921);
  background-image: -ms-linear-gradient(top, #1f4f14, #0d5921);
  background-image: -o-linear-gradient(top, #1f4f14, #0d5921);
  background-image: linear-gradient(to bottom, #1f4f14, #0d5921);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  padding: 6px 13px 7px 13px;
  text-decoration: none;
}

.login_btn:hover {
  background: #104d04;
  background-image: -webkit-linear-gradient(top, #104d04, #053d02);
  background-image: -moz-linear-gradient(top, #104d04, #053d02);
  background-image: -ms-linear-gradient(top, #104d04, #053d02);
  background-image: -o-linear-gradient(top, #104d04, #053d02);
  background-image: linear-gradient(to bottom, #104d04, #053d02);
  text-decoration: none;	
}
.filter_info{
	font-weight:bold;
}

.report_content{
	height:92%;
	overflow:scroll;
	}
	
#title_row{
	height:10%;
	overflow:hidden;
	background:#006666;
	width:100%;
	min-width:800px;
	min-height:10%;
	border:0px solid black ;
	border-radius:10px;
	}
.lengthy_form{
	height:84%;
	
	min-height:84%;
	min-width:800px;
	background:#CCCCCC;
	margin-top:10px;
	width:100%;
	border:1px solid black ;
	border-radius:10px;
	}
.short_form{
	height:auto;
	overflow:hidden;
	min-height:350px;
	min-width:500px;
	background:#CCCCCC;
	margin:10px 0px 0px 20%;
	width:50%;
	border:1px solid black ;
	border-radius:10px;
	}
.login_name {
  background: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -o-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: linear-gradient(to bottom, #f5f5f5, #f5f5f5);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #525252;
  font-size: 18px;
  padding: 3px 7px 2px 7px;
  border: solid #363236 1px;
  text-decoration: none;
 
 
}

.login_name:hover {
  background: #c9c9c9;
  background-image: -webkit-linear-gradient(top, #c9c9c9, #c9c9c9);
  background-image: -moz-linear-gradient(top, #c9c9c9, #c9c9c9);
  background-image: -ms-linear-gradient(top, #c9c9c9, #c9c9c9);
  background-image: -o-linear-gradient(top, #c9c9c9, #c9c9c9);
  background-image: linear-gradient(to bottom, #c9c9c9, #c9c9c9);
  text-decoration: none;
}
.logout_box {
  background: #f5f5f5;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -moz-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -ms-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: -o-linear-gradient(top, #f5f5f5, #f5f5f5);
  background-image: linear-gradient(to bottom, #f5f5f5, #f5f5f5);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #525252;
  font-size: 18px;
  padding: 3px 2px 2px 2px;
  border: solid #363236 1px;
  text-decoration: none;
 
}

.logout_box:hover {
  background: #c9c9c9;
  background-image: -webkit-linear-gradient(top, #c9c9c9, #c9c9c9);
  background-image: -moz-linear-gradient(top, #c9c9c9, #c9c9c9);
  background-image: -ms-linear-gradient(top, #c9c9c9, #c9c9c9);
  background-image: -o-linear-gradient(top, #c9c9c9, #c9c9c9);
  background-image: linear-gradient(to bottom, #c9c9c9, #c9c9c9);
  text-decoration: none;
  
}
.tab_header_bg{
	color: black; 
		/*background-image: url('../images/bg-menu-item-current.gif') !important;*/
	background-color: #FFCC99;
	font-size: 15px;
    }
.alt_row tr:nth-child(even){
	background-color: WHITE;
	color:#2E2E2E;
	}
.alt_row tr:nth-child(odd){
	background-color: #EEEEEE;
	color:#2E2E2E;
	}
.datefld_txt{
	width: 100%;
	border: none; 
	background: white; 
	font-weight: bolder; 
	color: #3090C7;
}
	.body1
	{
		background-image:url("006666.png");
		background-repeat:repeat-x;
	}
.txt1_color{
	width: 100%;
	border: none; 
	background: #559999; 
	color: #550033;
	font-weight: bold;
}
.txt2_color
	{
	background-color:#66ccff;
	width:100px;
	color:black;
	font-weight:bold;
	font-style:italic;
	}
	.td_rows{
	background-color: #eee; 
	color: #3090C7; 
	font-weight: bold;
	}
	.plain_txt{
	width: 100%;
	border: none; 
	background: none; 
	font-weight: bold;
	font-size: 12px; 
	color:#0e8c3a;
	 overflow:hidden;
	 resize:none;
	-webkit-appearance:none;
}
div.color1{
	border-color:#006666;
}
/*.input
	{
	border:1px solid #d0d0d0;
	background:#f0f0f0;
	color:#7e2217;
	} */
.dropdown {
	padding:0px;
	border:1px solid #d0d0d0;
	background:#f0f0f0;
	color:#7e2217;
}
.link{
	display:inline-block;
	margin-left:80px;
	}
.link:focus{
	height:60px; width:60px;
	border:2px solid #52d017
	}
.print {height:60px; width:60px; }
.add {height:20px; width:20px; }
.add_link{
	display:inline-block;
	
	}
.add_link:focus{
	height:20px; width:20px;
	border:1px solid #52d017
	}
.radio:checked+label
	{
	font-size:12px;
	color:white;
	
	} ​
/*.button {
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	background: #999999 url('../images/bg-button-green.gif') top left repeat-x !important;
	border: 1px solid #053883 !important;
	padding: 4px 7px 4px 7px !important;
	color: #fff !important;
	font-size: 14px !important;
	cursor: pointer;
}
.button:active {
	padding: 8px 7px 4px 9px !important;
}*/
input[type="text"]
	{
	padding:0px 0px 0px 5px;
	}
input[type="text"]:focus
	{
	outline:1px SOLID #ffe87c;
	}
	input[type="password"]
	{
	padding:0px 0px 0px 5px;
	}
input[type="password"]:focus
	{
	outline:1px SOLID #ffe87c;
	}
.font_align
	{
	font-size:17px;
	}
textarea:focus
	{
	outline:1px SOLID #ffe87c;
	}
/*.txtarea
	{
	resize:none;
	overflow:hidden;
	color:#7e2217;
	border:1px solid #d0d0d0;
	background:#f0f0f0;
	}*/
	.drop {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    
    background: #eee;
   color:#0e8c3a;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .drop {padding-right:40px}
}

.lab {position:relative}
.lab:after {
    content:'>';
    font:14px "Consolas", monospace;
    color:#000000;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:11px; top:0px;
    padding:0 0 0px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.lab:before {
    content:'';
    right:6px; top:0px;
    width:10px; height:20px;
    background:#eee;
    position:absolute;
    pointer-events:none;
    display:block;
}
.small
	{
	width: 100%;
	border: none; 
	font-weight: bold;
	font-size: 12px; 
	color:#0e8c3a;
	background-color: #eee;
	}
.cati{
	margin-top: 0px;
	margin-left: 10px;
	background-color:#79cdcd;
	width:140px;
	moz-border-radius: 10px;
    webkit-border-radius: 10px;
    border-radius: 3px;
    border: 0px solid;
    display:none;
}
.ui-autocomplete { max-height: 150px; overflow-y: scroll; overflow-x: hidden;}
.label:hover{
background:#eee;
}
